@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="slider">
        <h1>test header</h1>
    </div>
</section>

<section>
    <div class="offer">

    </div>
</section>

<section>
    <div class="timeline">

    </div>
</section>