@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="slider">
        <h1>Scrumy - best scrum app</h1>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn-view">Register</a>
    </div>
</section>

<section>
    <div class="attributes">
        <h2>Scrumy attributes</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Scalable</h3>
                <p>Suitable for large comapnies and for startups</p>
            </div>
            <div class="col-md-4">
                <h3>Full of Tool</h3>
                <p>Provide many features for team management</p>
            </div>
            <div class="col-md-4">
                <h3>Modern</h3>
                <p>Written in modern technologies</p>
            </div>
        </div>
    </div>
</section>