@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="slider">

    </div>
</section>

<section>
    <div class="offer">

    </div>
</section>

<section>
    <div class="timeline">

    </div>
</section>