
@{
    ViewData["Title"] = "Dashboard";
}
@model ApplicationUser
@inject UserManager<ApplicationUser> UserManager

<section class="container-full blue-backg settings">
    <div class="handull-nav">

    </div>
    <div class="container">
        <h2>Dashboard</h2>
        @*<div class="user-profile">
            
           
            

           
        </div>*@
        <div class="task-discuss">

        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Hi, @UserManager.GetUserName(User)
                </p>
            </div>
            <div class="col-md-6">
                <a asp-area="" asp-controller="Account" asp-action="Settings" class="btn-view">Settings</a>
            </div>
            <div class="col-md-12">
                <section class="action-bar">
                    @if (User.Identity.IsAuthenticated)
                    {

                        @if (User.IsInRole("Admin"))
                        {
                            <p>
                                ADMIN
                            </p>

                        }
                        else if (User.IsInRole("Scrum Master"))
                        {
                            <p>
                                SM
                            </p>
                        }
                        else if (User.IsInRole("Developer"))
                        {
                            <p>
                                DEV
                            </p>
                        }
                        else if (User.IsInRole("Product Owner"))
                        {
                            <div class="actions">
                                
                                    <a asp-area="" asp-controller="SprintTask" asp-action="Create" class="btn-view">Add Task</a>
                                    <a asp-area="" asp-controller="SprintTask" asp-action="AgileWall" class="btn-view">Agile Wall</a>
                                
                            </div>
                        }
                        else
                        {
                            <h4>
                                Choose project role for you.
                            </h4>
                            <a asp-area="" asp-controller="Account" asp-action="ChooseScrumMaster" class="btn-view">SM</a>
                            <a asp-area="" asp-controller="Account" asp-action="ChooseDev" class="btn-view">Dev</a>
                            <a asp-area="" asp-controller="Account" asp-action="ChoosePO" class="btn-view">Po</a>
                        }
                    }

                </section>
            </div>
        </div>
    </div>
</section>