
@{
    ViewData["Title"] = "Dashboard";
}
@model ApplicationUser

<section class="container-full blue-backg">
    <div class="container">
        <h2>Dashboard</h2>
        <p>
            @Html.DisplayFor(m => Model.Email)
        </p>
    </div>
</section>