
@{
    ViewData["Title"] = "Dashboard";
}
@model ApplicationUser
@inject UserManager<ApplicationUser> UserManager

<section class="container-full dashboard">
    <div class="container dashboard-nav">
        @if (User.Identity.IsAuthenticated)
        {

            @if (User.IsInRole("Admin"))
            {
                <p>
                    ADMIN
                </p>

            }
            else if (User.IsInRole("Scrum Master"))
            {
                <p>
                    SM
                </p>
            }
            else if (User.IsInRole("Developer"))
            {
                <p>
                    DEV
                </p>
            }
            else if (User.IsInRole("Product Owner"))
            {
                <div class="actions">

                   @* <a asp-area="" asp-controller="SprintTask" asp-action="Create" class="btn-view">Add Task</a>*@
                    

                </div>
            }
            else
            {
                <h4>
                    Choose project role for you.
                </h4>
                <a asp-area="" asp-controller="Account" asp-action="ChooseScrumMaster" class="btn-view">SM</a>
                <a asp-area="" asp-controller="Account" asp-action="ChooseDev" class="btn-view">Dev</a>
                <a asp-area="" asp-controller="Account" asp-action="ChoosePO" class="btn-view">Po</a>
            }
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="dashboard-box">
                    <div class="action-btn-box">
                        <a asp-area="" asp-controller="SprintTask" asp-action="AgileWall" class="btn-view">Agile Wall</a>
                    </div>
                    <div class="action-desc">
                        <p>
                            Agile Wall allows you to explore Tasks in Project. Pick task and help other devs with work.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dashboard-box">
                    <div class="action-btn-box">
                        <a asp-area="" asp-controller="SprintTask" asp-action="Stats" class="btn-view">Stats</a>
                    </div>
                    <div class="action-desc">
                        <p>
                            Check statisitcs of project. Here you can see how much work was done.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="dashboard-box">
                    <div class="action-btn-box">
                        <a asp-area="" asp-controller="SprintTask" asp-action="Archive" class="btn-view">Archive</a>
                    </div>
                    <div class="action-desc">
                        <p>
                            Place when you can watch history of sprints and tasks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dashboard-box">
                    <div class="action-btn-box">
                        <a asp-area="" asp-controller="SprintTask" asp-action="Retro" class="btn-view">Retro</a>
                    </div>
                    <div class="action-desc">
                        <p>
                            Retrospective is a place when you can you your feedback and sugestions about management and project. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="dashboard-box">
                    <div class="action-btn-box">
                        <a asp-area="" asp-controller="Manage" asp-action="Index" class="btn-view">Settings</a>
                    </div>
                    <div class="action-desc">
                        <p>
                            Here you can manage your account.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dashboard-box">
                    <div class="action-btn-box">
                        <a asp-area="" asp-controller="Account" asp-action="ScrumDoc" class="btn-view">Scrum Doc</a>
                    </div>
                    <div class="action-desc">
                        <p>
                            Place with coaching materials and hints how to use Scrumy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>