
@{
    ViewData["Title"] = "Dashboard";
}
@model ApplicationUser

<section class="container-full blue-backg">
    <div class="handull-nav">

    </div>
    <div class="container">
        <h2>Dashboard</h2>
        <div class="user-profile">

        </div>
        <div class="task-discuss">

        </div>
    </div>
</section>