@{
    ViewData["Title"] = "Forgot password confirmation";
}



<section class="forgot-password-confirmation">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</section>