@model IEnumerable<Slide>
@{
    ViewData["Title"] = "ScrumDoc";
}

<section class="scrumdoc container-full">
    <div class="container">
        <div class="intro">
            <h3>
                Welcome in Scrum Doc. Here you can master your Scrum skills and learn how to use Scrumy.
            </h3>
        </div>
  
        <div class="panel-group tut-container" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title tut-header">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Scrumy Tutorial
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                       <div class="slideshow-container">

                            @{
                                var max = Model.Count();
                             }
                            @foreach (var item in Model)
                            {
                                <div class="mySlides">
                                    <div class="numbertext">@item.Number / @max  </div>
                                    <p class="slide-text">
                                        @item.Content
                                    </p>
                                    <div class="slide-options">
                                        @if (User.IsInRole("Scrum Master"))
                                        {
                                            <a asp-controller="ScrumDoc" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        }
                                    </div>
                                    @*<div class="text">Caption Text</div>*@
                                </div>

                            }

                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center">

                            @foreach (var item in Model)
                            {
                                <span class="dot" onclick="currentSlide(@item.Id)"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title tut-header">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Scrum Theory Docs
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>