@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Settings";
}


<section class="settings container-full">
    <div class="container">
        <h2>Account Settings</h2>
        <ul>
            <li>User Name: @UserManager.GetUserName(User)</li>
            <li> <a asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="btn-view">Change Password</a></li>
        </ul>
      
    </div>
</section>
