<section class="statsMenu container">
    <h2>Project Statistics</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="stats-describe">
                <a asp-area="" asp-controller="Stats" asp-action="TaskStats" class="btn-view">Tasks Stats</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus commodo libero ac venenatis. Ut tempor eros sed lacus elementum fermentum. Donec faucibus mauris neque, vitae convallis lectus convallis et. Ut luctus ornare mi non lobortis. Suspendisse id ante semper ex mattis vehicula. Vivamus rhoncus turpis eu dolor tempus, quis sagittis libero ultrices. Mauris sit amet erat odio. Nunc fringilla efficitur ante a luctus. Etiam aliquet arcu sed turpis efficitur varius. Vestibulum ultrices et ipsum at commodo. Nullam est sapien, mattis ac auctor id, feugiat laoreet lacus.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="stats-describe">
                <a asp-area="" asp-controller="Stats" asp-action="SprintStats" class="btn-view">Sprints Stats</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus commodo libero ac venenatis. Ut tempor eros sed lacus elementum fermentum. Donec faucibus mauris neque, vitae convallis lectus convallis et. Ut luctus ornare mi non lobortis. Suspendisse id ante semper ex mattis vehicula. Vivamus rhoncus turpis eu dolor tempus, quis sagittis libero ultrices. Mauris sit amet erat odio. Nunc fringilla efficitur ante a luctus. Etiam aliquet arcu sed turpis efficitur varius. Vestibulum ultrices et ipsum at commodo. Nullam est sapien, mattis ac auctor id, feugiat laoreet lacus.</p>
            </div>
        </div>
    </div>
</section>