@model Scrumy.Models.MixedVM.TaskStatsVM



<section class="container">
    <h2>TaskStats</h2>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <div class="row">
        <div class="col-md-10">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</section>
<script>

   
    var DeliveredPoints = @Html.Raw(Json.Serialize(ViewData["deliveredSP"]));

    var estimatedTeamSpeed = @Model.EstimatedTeamSpeed;
    var estimatedSPsum = @Model.EstimatedSPsum;
    var sprintAmount = @Model.SprintAmount;

    function CreateLabels(sprintAmount) {
        var result = [];
        for (var i = 0; i < sprintAmount + 1; i++) {
            result.push(i);
        }
        return result;
    }

    function CalculateIdealBurning(SPsum, teamSpeed, sprintAmount) {
        var result = [];
        let diff = SPsum / teamSpeed;
        result.push(SPsum);

        for (var i = 0; i < sprintAmount+1; i++) {
            result.push(SPsum - diff);
            SPsum = SPsum - diff;
        }

        return result;

    }

    function CalculateRealBurning(donePoints, SPsum) {
        var result = [];
        result.push(SPsum);

        for (var i = 0; i < donePoints.length+1; i++) {
            result.push(SPsum - donePoints[i]);
            SPsum = SPsum - donePoints[i];
        }

        return result;

    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: CreateLabels(sprintAmount),
            datasets: [{
                data: CalculateIdealBurning(estimatedSPsum, estimatedTeamSpeed, sprintAmount),
                label: "Ideal Burning",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: CalculateRealBurning(DeliveredPoints, estimatedSPsum),
                label: "Real Burning",
                borderColor: "#8e5ea2",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Product Burnout Chart'
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        zeroLineWidth: 3,
                        zeroLineColor: "#2C292E"
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Story Points'
                    }
                }],
                xAxes: [{
                    gridLines: {
                        zeroLineWidth: 3,
                        zeroLineColor: "#2C292E"
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Sprints'
                    }
                }]
            }
        }
    });
</script>
