@model Scrumy.Models.MixedVM.RetroVM


<section class="retro container">
    <h2>Sprints Retrospective</h2>

    <div class="row">
        @foreach (var item in Model.Sprints)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>
                        Sprint Target: @item.SprintTarget
                    </h3>

                    <div class="col-md-6">
                        @foreach (var item2 in Model.Tasks)
                        {
                            if (item2.SprintId == item.Id)
                            {
                                <div class="element">
                                    <p>@item2.Title</p>
                                    <p>@item2.Desc</p>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-6 opinions-container">
                        @foreach (var item3 in Model.Feedback)
                        {
                            if (item3.SprintId == item.Id)
                            {
                                <p>
                                    @item3.Comment
                                </p>
                            }
                        }
                    </div>
                    
                    <div class="col-md-12">
                        <button type="button" class="btn-view margin-auto" data-toggle="modal" data-target="#addOpinionModal">Add Opinion</button>
                        @await Html.PartialAsync("_addOpinionModal", Model.OpinionToAdd, new ViewDataDictionary(ViewData)
                                     {
                                         { "sprintid", item.Id }
                                     })
                    </div>
                    

                </div>
            </div>
        }
    </div>


    <div class="row">
        <div class="row">
            <div class="col-md-12">

            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>


</section>