@import 'Variables.scss';
@import 'Mixins.scss';

.agilewall {
    h2 {
        text-align: center;
    }

    .wall-col {
        border-top: 1px solid $borderGray;

        h4 {
            text-align: center;
        }
    }

    .element {
        text-align: center;
        margin-bottom: 16px;
        width: 75%;
        padding: $boxPadding;
        border-radius: $radius;
        @include margin-auto;

        button {
            @include margin-auto;
        }
    }

    .toDo-element {
        border: 1px solid $borderGray;
        position: relative;

        .delete-icon {
            position: absolute;
            top: -1px;
            right: -1px;
            color: $blueBackground;

            &:hover {
                color: lighten($blueBackground, 10%);
            }

            i {
                font-size: 24px; /*move to em?*/
            }
        }
    }

    .move-buttons {
        margin-top: 1em; /*watch*/
        i {
            font-size: 3em;
            color: $blueBackground;

            &:hover {
                color: lighten($blueBackground, 10%);
            }
        }
    }

    .done-element {
        border: 1px solid $doneGreenBorder;
        background: $doneGreenBody;
    }

    .inCurrentSprint-element {
        border: 1px solid $inCurrentSprintBorder;
        background: $inCurrentSprintBody;
    }
}
