@import 'Variables.scss';
@import 'Mixins.scss';

.agilewall {
    h2 {
        text-align: center;
    }

    .wall-col {
        border-right: 1px solid $borderGray;
    }

    .wall-col:last-of-type {
        .btn-view {
            @include margin-auto;
        }
    }

    .element {
        text-align: center;
        margin-bottom: 16px;
        width: 75%;
        padding: $boxPadding;
        border-radius: $radius;
    }

    .toDo-element {
        border: 1px solid $borderGray;
    }

    .done-element {
        border: 1px solid $doneGreenBorder;
        background: $doneGreenBody;
    }
}
