@import 'Variables.scss';
@import 'Mixins.scss';

.agilewall {
    h2 {
        text-align: center;
    }

    .wall-col {
        border-top: 1px solid $borderGray;

        h4 {
            text-align: center;
        }
    }

    .element {
        text-align: center;
        margin-bottom: 16px;
        width: 75%;
        padding: $boxPadding;
        border-radius: $radius;
        @include margin-auto;

        button {
            @include margin-auto;
        }
    }

    .toDo-element {
        border: 1px solid $borderGray;
        position: relative;

        .close-icon {
            position: absolute;
            top: -1px;
            right: -1px;
            color: $blueBackground;

            &:hover {
                color: lighten($blueBackground, 10%);
            }

            i {
                font-size: 24px;
            }
        }
    }

    .done-element {
        border: 1px solid $doneGreenBorder;
        background: $doneGreenBody;
    }
}
