@import 'Variables.scss';
@import 'Mixins.scss';

.agilewall {
    h2 {
        text-align: center;
    }

    .wall-col {
        border-top: 1px solid $borderGray;

        h4 {
            text-align: center;
        }
    }
}

.move-buttons {
    margin-top: 1em; /*watch*/
    i {
        font-size: 3em;
        color: $blueBackground;

        &:hover {
            color: lighten($blueBackground, 10%);
        }
    }
}