@import 'Variables.scss';
@import 'Mixins.scss';

.create-task-manager{
    .modal-container{
        position: relative;
        min-height: 200px;
        .btn-action:first-of-type{
            width: 200px;
            @include center(horizontal);
            bottom: 16px;
        }
    }
    .manager-hints{

    }
}