@import 'Variables.scss';

footer {
    text-align: center;
    background: $navFootColor;
    padding: $boxPadding 0;
    color: $blueBackground;

    .social {

        i {
            font-size: 3.5em;
            margin: 0 8px;

            &:hover {
                cursor: pointer;
                color: lighten($blueBackground, 10%);
            }
        }
    }

    .info-bar {
        color: $blueBackground;
    }

    .copy {
        font-size: 1.7em;
    }
}