@import 'Variables.scss';
@import 'Mixins.scss';

.slider {
    color: $darkFontColor;
    position: relative;

    .slider-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            margin-top: 0;
        }

        .btn-view {
            margin: 0 auto;
        }
    }
}

.attributes {
    text-align: center;


    .attribute {
        min-height: 200px;
        color: $blueBackground;

        h3, p {
            margin-bottom: 16px;
        }
    }

    i {
        font-size: 4em;
    }
}

.story-container {
    text-align: center;


    .btn-view {
        margin: 0 auto;
    }

    h2 {
        margin-top: 0;
    }

    .story {
        font-size: 4em;
        padding: 8px 0;
        margin: 8px 0;
        color: $blueBackground;
    }
}


.timeline-container {
    @include flex-setup;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    .timeline-element {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;

        text-align: center;
        border: 1px solid black;
        min-height: 200px;
        width:275px;
    }
}