@import 'Variables.scss';
@import 'Mixins.scss';

.login {
    min-height: initial;
    height: 100vh;
    color: $darkFontColor;
    .checkbox{
        label{
            font-size: 1.5em;
        }
    }
}