@import 'Variables';
@import 'Mixins.scss';

body {
    background-color: $bodyBackground !important;
    font-size: $globalFontSize;
    color: $darkFontColor !important;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5{
    font-family: $headerFont !important;
    color: inherit;
}

h1 {
    font-size: 4em;
    text-align: center;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 1.7em;
}

p{
    font-family: $paragraphFont !important;
    font-size: 1.5em;
}

section{
    min-height: 30em;
    padding: 40px 0px;
}

.btn-view {
    background: $blueBackground;
    font-size: 1.8em;
    padding: $buttonPadding;
    width: $buttonWidth;
    border-radius: $radius;
    color: white;    
    @include basicButton($blueBackground);
}

.btn-view-large{
    width: 175px;
}

.btn-action {
    background: $blueBackground;
    font-size: 1.4em;
    padding: $buttonPadding;
    width: $smallButtonWidth;
    border-radius: $smallRadius;
    color: white;
    @include basicButton($blueBackground);
}

.container-full {
    width: 100%;
}

.container-full-90 {
    width: 90%;
    margin: 0 auto;
}

.margin-auto{
    @include margin-auto;
}
//Partials
.action-container {
    ul.action-panel {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            float: left;

            a {
                font-size: 1.3em;
                display: inline-block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                color: $blueBackground;

                &:hover {
                    color: lighten($blueBackground, 10%);
                }
            }
        }
    }
}
