@import 'Variables';
@import 'Mixins.scss';

body {
    background-color: $blueBackground;
    font-size: $globalFontSize;
    color: white !important;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    font-family: $headerFont !important;
    color: inherit;
}

h1 {
    font-size: 4em;
    text-align: center;
}
h2{
    font-size: 2.8em;
}
h3{
    font-size: 1.7em;
}

p{
    font-family: $paragraphFont !important;
    font-size: 1.5em;
}

section{
    height: 30em;
    padding: 40px 0px;
}

.btn-view {
    background: $blueBackground;
    font-size: 1.8em;
    padding: $buttonPadding;
    width: $buttonWidth;
    border-radius: $radius;
    color: white;    
    @include basicButton($blueBackground);
}

.container-full {
    width: 100%;
}