@import 'Variables.scss';

@mixin basicButton($color) {
    border: 1px solid darken($color, 20%);
    display: block;
    text-align: center;

    &:hover {
        text-decoration: none;
        background-color: lighten($color, 20%);
        color: white;
    }

    &:focus {
        text-decoration: none;
        background-color: darken($color, 20%);
        color: white;
    }
}

@mixin flex-setup {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}