@import 'Variables.scss';

@mixin basicButton($color) {
    border: 1px solid darken($color, 5%);
    display: block;
    text-align: center;

    &:hover {
        text-decoration: none;
        background-color: lighten($color, 10%);
        color: white;
    }

    &:focus {
        text-decoration: none;
        background-color: darken($color, 10%);
        color: white;
    }
}

@mixin flex-setup {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin center($position) {
    position: absolute;

    @if $position == 'vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }
    @else if $position == 'both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}