@import 'Variables.scss';

@mixin basicButton {
    border: 1px solid darken($secondaryBackground, 20%);
    display: block;
    text-align: center;

    &:hover {
        text-decoration: none;
        background-color: lighten($secondaryBackground, 20%);
        color: white;
    }

    &:focus {
        background-color: darken($secondaryBackground, 20%);
        color: white;
    }
}