@import 'Variables.scss';
@import 'Mixins.scss';

.register{
    min-height: initial;
    color: $darkFontColor;
}

@media(max-width: 480px) {
    .register {
        height: 100%;
        text-align: center;

        .btn-view {
            @include margin-auto;
        }
    }
}