@import 'Variables';
@import 'Mixins.scss';

.retro {
    a {
        color: $darkFontColor;
        text-decoration: none;
    }

    .element {
        width: 50%;
    }

    .opinion {
        padding: $smallBoxPadding;
        border-radius: $radius;
        margin-bottom: 1em;
    }

    .opinion-positive {
        background: #75d679;
    }

    .opinion-negative {
        background: #ef8686;
    }
}
