@import 'Variables.scss';
@import 'Mixins.scss';

.sprintStats {
    h2 {
        text-align: center;
    }

    .sprint-tabs {
        text-align: center;

        .btn-action {
            display: inline-block;
        }
    }

    .sprint-tasks-list {
        .sprint-tasks-list-element {
            border: 1px solid $borderGray;
            border-radius: $radius;
            padding: $boxPadding;
        }
    }
}