//fonts
$paragraphFont: 'Slabo 27px', serif;
$headerFont: 'Open Sans', sans-serif;

//colours
$baseBackground: #FFFFFF;
$fontColor: #333333;
$secondaryBackground: #3db7ff;

//sizes
$globalFontSize: 12px;
$buttonPadding: 8px;
$buttonWidth: 150px;
$radius: 12px;