//fonts
$paragraphFont: 'Slabo 27px', serif;
$headerFont: 'Open Sans', sans-serif;

//colours
$bodyBackground: #FFFFFF;
$lightFontColor: #FFFFFF/*#E2E6E9*/;
$darkFontColor: #6c7579 ;
$blueBackground: #175D7D; /*#007BC2*/ /*#29A0D8*/ 
//$grayBackground: #636d75 /*#495259*/;
//sizes
$globalFontSize: 12px;
$buttonPadding: 8px;
$buttonWidth: 150px;
$radius: 12px;