//fonts
$paragraphFont: 'Slabo 27px', serif;
$headerFont: 'Open Sans', sans-serif;

//colours
$bodyBackground: #FFFFFF;
$navFootColor: #ececec; //Background for Footer and Navbar
$lightFontColor: #FFFFFF;
$darkFontColor: #5d5e5e;
$blueBackground: #489de8; //Main Color for App elements
$borderGray: #666666;

//sizes
$globalFontSize: 12px;
$buttonPadding: 8px;
$boxPadding: 12px;
$buttonWidth: 150px;
$radius: 12px;
$smallButtonWidth: 100px;
$smallRadius: 8px;

//agileWallColors
$doneGreenBorder: #4df24b;
$doneGreenBody: #cfffce;

$inCurrentSprintBorder: #85ade2 ;
$inCurrentSprintBody: #e5f0ff;
