/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
.agilewall h2 {
  text-align: center; }

.agilewall .wall-col {
  border-right: 1px solid #666666; }

.agilewall .wall-col:last-of-type .btn-view {
  margin-left: auto;
  margin-right: auto; }

.agilewall .element {
  text-align: center;
  margin-bottom: 16px;
  width: 75%;
  padding: 12px;
  border-radius: 12px; }

.agilewall .toDo-element {
  border: 1px solid #666666; }

.agilewall .done-element {
  border: 1px solid #4df24b;
  background: #97ff96; }
