.agilewall h2 {
  text-align: center; }

.agilewall .wall-col {
  border-top: 1px solid #666666; }
  .agilewall .wall-col h4 {
    text-align: center; }

.agilewall .element {
  text-align: center;
  margin-bottom: 16px;
  width: 75%;
  padding: 12px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto; }
  .agilewall .element button {
    margin-left: auto;
    margin-right: auto; }

.agilewall .toDo-element {
  border: 1px solid #666666;
  position: relative; }
  .agilewall .toDo-element .delete-icon {
    position: absolute;
    top: -1px;
    right: -1px;
    color: #489de8; }
    .agilewall .toDo-element .delete-icon:hover {
      color: #75b5ee; }
    .agilewall .toDo-element .delete-icon i {
      font-size: 24px;
      /*move to em?*/ }

.agilewall .move-buttons {
  margin-top: 1em;
  /*watch*/ }
  .agilewall .move-buttons i {
    font-size: 3em;
    color: #489de8; }
    .agilewall .move-buttons i:hover {
      color: #75b5ee; }

.agilewall .done-element {
  border: 1px solid #4df24b;
  background: #cfffce; }

.agilewall .inCurrentSprint-element {
  border: 1px solid #85ade2;
  background: #e5f0ff; }

.agilewall .willBeInNextSprint-element {
  border: 1px solid #ffebce;
  background: #fff5e5; }
