/*$presentationBorder:;
$presentationBody:;*/
/*$presentationBorder:;
$presentationBody:;*/
.create-task-manager .modal-container {
  position: relative;
  min-height: 200px; }
  .create-task-manager .modal-container .btn-action:first-of-type:not(.btn-modal) {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
