/*$presentationBorder:;
$presentationBody:;*/
/*$presentationBorder:;
$presentationBody:;*/
.action-bar {
  position: relative; }
  .action-bar .actions {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.dashboard .dashboard-box {
  background: #ececec;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
  min-height: 200px;
  position: relative;
  /*

        .action-desc {
            position: absolute;
            top: 50%;
            left:50%;
        }*/ }
  .dashboard .dashboard-box .action-btn-box {
    width: 50%;
    height: auto; }
    .dashboard .dashboard-box .action-btn-box .btn-view {
      position: absolute;
      top: 50%;
      margin-top: -24px;
      right: 75%;
      margin-right: -75px; }
    .dashboard .dashboard-box .action-btn-box .sm-actions {
      position: absolute;
      bottom: 0; }
  .dashboard .dashboard-box .action-desc {
    width: 50%;
    float: right; }
  .dashboard .dashboard-box .action-pill {
    background: #489de8;
    color: white;
    display: block;
    border-radius: 8px; }
    .dashboard .dashboard-box .action-pill:first-of-type {
      margin-right: 8px; }
