/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
footer {
  text-align: center;
  background: #ececec;
  padding: 12px 0;
  color: #489de8; }
  footer .social i {
    font-size: 3.5em;
    margin: 0 8px; }
    footer .social i:hover {
      cursor: pointer;
      color: #75b5ee; }
  footer .info-bar {
    color: #489de8; }
  footer .copy {
    font-size: 1.7em; }
