/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
footer {
  text-align: center;
  background: #cccdce; }
  footer .social i {
    font-size: 3em;
    color: #175D7D; }
  footer .info-bar ul {
    list-style: none;
    color: white; }
