/*$presentationBorder:;
$presentationBody:;*/
/*$presentationBorder:;
$presentationBody:;*/
.slider {
  color: #5d5e5e;
  position: relative; }
  .slider .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .slider .slider-content h1 {
      margin-top: 0;
      margin-bottom: 24px; }
    .slider .slider-content .btn-view {
      margin: 0 auto; }

.attributes {
  text-align: center; }
  .attributes .attribute {
    min-height: 200px;
    color: #489de8; }
    .attributes .attribute h3, .attributes .attribute p {
      margin-bottom: 16px; }
  .attributes i {
    font-size: 4em; }

.story-container {
  text-align: center; }
  .story-container .btn-view {
    margin: 0 auto; }
  .story-container h2 {
    margin-top: 0; }
  .story-container .story {
    font-size: 4em;
    padding: 8px 0;
    margin: 8px 0;
    color: #489de8; }

.app-desc {
  text-align: center;
  font-size: 1.2em;
  min-height: 25em; }

.timeline-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .timeline-container .timeline-element {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center;
    border: 1px solid black;
    min-height: 200px;
    width: 275px; }
