/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
.login {
  min-height: initial;
  height: 100vh;
  color: #6c7579; }
  .login .checkbox label {
    font-size: 1.5em; }

@media (max-width: 480px) {
  .login {
    height: 100%;
    text-align: center; }
    .login .btn-view {
      margin-left: auto;
      margin-right: auto; } }
