.login {
  min-height: initial;
  height: 100vh;
  color: #5d5e5e; }
  .login .checkbox label {
    font-size: 1.5em; }

@media (max-width: 480px) {
  .login {
    height: 100%;
    text-align: center; }
    .login .btn-view {
      margin-left: auto;
      margin-right: auto; } }
