/*$presentationBorder:;
$presentationBody:;*/
/*$presentationBorder:;
$presentationBody:;*/
body {
  background-color: #FFFFFF !important;
  font-size: 12px;
  color: #5d5e5e !important;
  box-sizing: border-box; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif !important;
  color: inherit; }

h1 {
  font-size: 4em;
  text-align: center; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 1.7em; }

p {
  font-family: "Slabo 27px", serif !important;
  font-size: 1.5em; }

section {
  min-height: 30em;
  padding: 40px 0px; }

.btn-view {
  background: #489de8;
  font-size: 1.8em;
  padding: 8px;
  width: 150px;
  border-radius: 12px;
  color: white;
  border: 1px solid #3191e5;
  display: block;
  text-align: center; }
  .btn-view:hover {
    text-decoration: none;
    background-color: #75b5ee;
    color: white; }
  .btn-view:focus {
    text-decoration: none;
    background-color: #1c85e1;
    color: white; }

.btn-view-large {
  width: 175px; }

.btn-action {
  background: #489de8;
  font-size: 1.4em;
  padding: 8px;
  width: 100px;
  border-radius: 8px;
  color: white;
  border: 1px solid #3191e5;
  display: block;
  text-align: center; }
  .btn-action:hover {
    text-decoration: none;
    background-color: #75b5ee;
    color: white; }
  .btn-action:focus {
    text-decoration: none;
    background-color: #1c85e1;
    color: white; }

.btn-modal-submit {
  background: #489de8;
  font-size: 1.5em;
  padding: 8px;
  width: 200px;
  border-radius: 8px;
  color: white;
  border: 1px solid #3191e5;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .btn-modal-submit:hover {
    text-decoration: none;
    background-color: #75b5ee;
    color: white; }
  .btn-modal-submit:focus {
    text-decoration: none;
    background-color: #1c85e1;
    color: white; }

.btn-modal-close {
  background: #ececec;
  font-size: 1.4em;
  padding: 8px;
  width: 150px;
  border-radius: 8px;
  color: #489de8;
  border: 1px solid #dfdfdf;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .btn-modal-close:hover {
    text-decoration: none; }
  .btn-modal-close:focus {
    text-decoration: none;
    background-color: lightgray; }

.container-full {
  width: 100%; }

.container-full-90 {
  width: 90%;
  margin: 0 auto; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.form-control:focus {
  box-shadow: none;
  border-color: #75b5ee; }

.element {
  text-align: center;
  margin-bottom: 16px;
  width: 75%;
  padding: 12px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto; }
  .element button {
    margin-left: auto;
    margin-right: auto; }

.modal-content .modal-body {
  text-align: left;
  font-weight: bold; }

.action-container ul.action-panel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .action-container ul.action-panel li {
    float: left; }
    .action-container ul.action-panel li a {
      font-size: 1.3em;
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      color: #489de8; }
      .action-container ul.action-panel li a:hover {
        color: #75b5ee; }
