/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
/*#E2E6E9*/
/*#007BC2*/
/*#29A0D8*/
body {
  background-color: #FFFFFF !important;
  font-size: 12px;
  color: #6c7579 !important;
  box-sizing: border-box; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif !important;
  color: inherit; }

h1 {
  font-size: 4em;
  text-align: center; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 1.7em; }

p {
  font-family: "Slabo 27px", serif !important;
  font-size: 1.5em; }

section {
  min-height: 30em;
  padding: 40px 0px; }

.btn-view {
  background: #175D7D;
  font-size: 1.8em;
  padding: 8px;
  width: 150px;
  border-radius: 12px;
  color: white;
  border: 1px solid #134d67;
  display: block;
  text-align: center; }
  .btn-view:hover {
    text-decoration: none;
    background-color: #1f7da8;
    color: white; }
  .btn-view:focus {
    text-decoration: none;
    background-color: #0f3d52;
    color: white; }

.container-full {
  width: 100%; }
