/*$presentationBorder:;
$presentationBody:;*/
/*$presentationBorder:;
$presentationBody:;*/
.navbar-inverse {
  background: #ececec;
  border-bottom: none; }
  .navbar-inverse .btn-link {
    color: #489de8; }
    .navbar-inverse .btn-link:hover {
      color: #75b5ee;
      text-decoration: none; }

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #489de8;
  font-size: 1.3em; }

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #75b5ee;
  outline: #75b5ee; }
