.register {
  min-height: initial;
  color: #5d5e5e; }

@media (max-width: 480px) {
  .register {
    height: 100%;
    text-align: center; }
    .register .btn-view {
      margin-left: auto;
      margin-right: auto; } }
