/*$presentationBorder:;
$presentationBody:;*/
/*$presentationBorder:;
$presentationBody:;*/
.retro a {
  color: #5d5e5e;
  text-decoration: none; }

.retro .element {
  width: 50%; }

.retro .opinion {
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 1em; }

.retro .opinion-positive {
  background: #75d679; }

.retro .opinion-negative {
  background: #ef8686; }
