
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer>
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-xs-12">
            <p>czesio</p>
        </div>
        <div class="col-md-6 col-xs-12">
            <p>Contact: lorem@ipsum.com</p>
            <i class="fas fa-angle-double-up"></i>
        </div>
        </div>
    </div>
</footer>