@model IEnumerable<Scrumy.Models.SprintTask>

@{
    ViewData["Title"] = "AgileWall";
}



<section class="agilewall container-full">
    <h2>AgileWall</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 todo-col">
                <h4>Backlog</h4>
                @foreach (var item in Model)
                {
                    <div class="toDo-element">
                        <p>
                           Title: @Html.DisplayFor(modelItem => item.Title)
                        </p>
                        <p>
                           Description: @Html.DisplayFor(modelItem => item.Desc)
                        </p>
                    </div>
                }
            </div>
            <div class="col-md-4 todo-col">
                <h4>ToDo in Current Sprint</h4>

            </div>
            <div class="col-md-4 todo-col">
                <a @*asp-area="" asp-controller="Account" asp-action="Settings" *@ class="btn-view">Done</a>
            </div>
        </div>
    </div>
</section>